{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scylla</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
{% if user.is_authenticated %}
<nav>
    <div class="left">
        <img src="{% static 'logo.png' %}" alt="" width="5%">
        <span><a href="/index.html">Requests</a></span>
        <span><a href="config">Config</a></span>
    </div>
    <a href="/logout" class="logout">
        <li>Log out</li>
    </a>
</nav>
{% endif %}
{% block container %} {% endblock %}
</body>
</html>