{% extends 'base.html' %}
{% load static %}
{% block container %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load("current", {packages:["corechart"]});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Petitions', 'All Petitions'],
      ['Bad Petitions', {{bad_petitions}}],
      ['Good Petitions', {{good_petitions}}],
    ]);

    var options = {backgroundColor: 'transparent','title':'All Petitions',pieHole: 0.4,colors: ['#9e3735', '#55c083'],titleTextStyle: {color: '#fff'},'legendTextStyle': { 'color': '#fff' },sliceVisibilityThreshold:0};

    var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
    chart.draw(data, options);
  }

</script>
<script type="text/javascript">
  google.charts.load("current", {packages:["corechart"]});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Petitions', 'Good Petitions Types Methods'],
      ['GET Petitions', {{get_petitions}}],
      ['POST Petitions', {{post_petitions}}],
      ['PUT Petitions', {{put_petitions}}],
      ['Other Petitions', {{other_petitions}}],
    ]);

    var options = {backgroundColor: 'transparent','title':'Good Petitions Types Methods',pieHole: 0.4,colors: ['#d786c9', '#6743b1','#55c083', '#9e3735'],titleTextStyle: {color: '#fff'},'legendTextStyle': { 'color': '#fff' },sliceVisibilityThreshold:0};

    var chart = new google.visualization.PieChart(document.getElementById('donutchart2'));
    chart.draw(data, options);
  }

</script>
<div class="container2">
    <div class="left_side">
        <div class="filters">
          <form action='all' method='GET'>
              <button type='submit'>All</button>
          </form>
          <form action='filter_by_variable_type' method='GET'>
              <button type='submit'>Filter by Variable Type</button>
          </form>
          <form action='filter_by_blacklist' method='GET'>
              <button type='submit'>Filter by Blacklist</button>
          </form>
          <form action='filter_by_blockip' method='GET'>
              <button type='submit'>Filter by Block IP</button>
          </form>
          <form action='filter_by_method_analysis' method='GET'>
              <button type='submit'>Filter by Method Analysis</button>
          </form>
          <form action='filter_by_blockbylength' method='GET'>
              <button type='submit'>Filter by Block By Length</button>
          </form>
        </div>
        <h2>Bad Petitions</h2>
        <div class="all_petitions">
            <div class="petitions">
                <span>Host</span>
                <span>Petition</span>
                <span>User Agent</span>
            </div>
            {% for petition in petitions %}
            <div class="petitions">
                <span>{{petition.ip}}</span>
                <span>{{petition.petition}}</span>
                <span>{{petition.detection}}</span>
            </div>
            {% endfor %}
        </div>

        <div class="pagination">
            {% if petitions.has_previous %}
            <a href="?page={{ petitions.previous_page_number }}">Anterior</a>
            {% endif %}

            <span>{{ petitions.number }}</span>
            <span">de</span>
            <span>{{ petitions.paginator.num_pages }}</span>

            {% if petitions.has_next %}
            <a href="?page={{ petitions.next_page_number }}">Siguiente</a>
            {% endif %}
        </div>
    </div>

    <div class="right_side">
        <div id="donutchart" style="width: 500px; height: 300px;"></div>
        <div id="donutchart2" style="width: 500px; height: 300px;"></div>
    </div>

</div>
{% endblock %}
