/* General */
body{
    background: #1d1e23;
    color: white;
    margin: 0;
}
a{
    color: white;
}
/* Register and login */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container a{
    color: white;
    margin-top: 2%;
}
.container img{
    width: 30%;
}
/* Index */
.container2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5% 2%;
    font-size: 14px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #47494f;
    padding: 1% 2%;
    color: #187dcb;
}
nav a{
    text-decoration: none;
    color: #187dcb;
}
nav .left{
    display: flex;
    align-items: center;
}
nav .left span{
    margin-top: 0.5%;
    margin-left: 2%;
}
.petitions{
    width: 100%;
    display: flex;;
    flex-wrap: nowrap;
    border-bottom: 1px solid rgb(163,163,163, 0.5);
    padding: 1% 0;
}
.petitions span:nth-child(1){
    width: 10%;
}
.petitions span:nth-child(2){
    width: 55%;
}
.petitions span:nth-child(3){
    width: 35%; 
}
.logout{
    list-style: none;
}
/* Forms */
.forms{
    display: flex;
    justify-content: center;
}
form{
    width: 20%;
    margin-top: 5%;
}
form p{
    display: flex;
    justify-content: space-around;
}
form input[type=submit]{
    display: flex;
    margin: 10% auto;
    padding: 2%;
    background: #47494f;
    color: white;
    border-color: #47494f;
}
.forms input{
    border-radius: 5%;

}